
{% extends "base.html" %}


{% block title%}
Home
{% endblock %}


{% block content %}

    <!-- <h1>HOME</h1> -->

    {% if current_user.is_authenticated %}
    {% else %}
    <div class="titles-container">
        <p id="main-heading">Get Your Mood Forecast</p>
        <p id="secondary-heading">A Personalized Daily Mood Prediction Based on Your Data</p>
        <div class="scroll-btn"><a href="#mood-form">Try it!</a></div>
    </div>
    {% endif %}

    <div class="home-container">

        <section id="mood-form"></section>

            <form action="{{ url_for('views.home') }}" method="post" id="energy-mood-form" name="form">
                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div id="mood-container">
                    <div> Today I feel</div>

                    <span>Terrible</span>

                    <input type="range" class="slider" id="mood-slider" name="mood-slider"
                    min="0" max="10" step="1" value="5" oninput="result.value = 'Your mood score is ' + this.value"/>

                    <span>Great</span>
                    <div>
                        <output name="result" for="slider"> Your mood score is 5</output>
                    </div>
                </div>


                <div id="energy-container">
                    <div>My energy level is</div>

                    <span>Low</span>

                    <input type="range" class="slider" id="energy-slider" name="energy-slider"
                    min="0" max="10" step="1" value="5" oninput="result2.value = 'Your energy score is ' + this.value"/>
                    <span>High</span>
                    <div>
                        <output name="result2" for="slider"> Your energy score is 5</output>
                    </div>
                </div>


                <input type="submit" value="Submit" id="submit-form-btn" />
                <input type="submit" value="See Mood Forecast" id="mood-forecast-btn" />

            </form>

    </div>

<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}
